/* Configurações globais do sistema */
body{
    margin: 0;
    background-color:#282830;
    font-family: 'Prompt', sans-serif;
}


/* Configurações de fonte */
h1{
    color: #D4D4D4;
    font-size: 45px;
    text-align: center;
}

/* Divisória topo */
.topo{
    background-color: #444B54;
    width: 100%;
    display: inline-table;
    height: 80px;
}
