/* Configurações globais do sistema */
body{
    margin: 0;
    background-color:#282830;
    font-family: 'Prompt', sans-serif;
}


/* Configurações de fonte */
h1{
    color: #E7E7E7;
    font-size: 120%;
    text-align: left;
    margin-left: 3%;
}

/* Divisória topo */
.topo{
    background: linear-gradient(90deg, rgb(44, 53, 79) 0%, #3D8EB9 100%);
    width: 100%;
    display: inline-block;
    height: 10%;
}


/* Divisória de notícias */
.menu-direito{
    margin-top: 1%;
    background-color: #897FBA;
    width: 220px;
    height: 92%;
    float: left;
    text-align: center;
}

/* Divisória dos  botões do cabeçalho */
.botoes{
    margin-left: 20%;
}
