/* Configurações globais do sistema */
body{
    margin: 0;
    background-color:#282830;
    font-family: 'Prompt', sans-serif;
}

/* Configurações do nome */
h1{
    color: #E7E7E7;
    font-size: 120%;
    text-align: left;
    margin-left: 3%;
}

/* Divisória topo */
.topo{
    background: linear-gradient(90deg, rgb(44, 53, 79) 0%, #3D8EB9 100%);
    width: 100%;
    display: inline-block;
    height: 10%;
    border-bottom: 4px solid grey;
}

/* Links de navegação */
ul{
    margin-top: -40px;
    margin-left: 15%;
}
li{
    display:inline;
    padding-right: 4%;
}

/* Botões para os links */
a:link, a:visited{
    background-color: #287daa;
    color: white;
    text-align: center;
    border: 1px solid grey;
}
a:hover, a:active{
    background-color: #105174;
}

/* Divisória de notícias */
.menu-direito{
    margin-top: -8px;
    background-color: #897FBA;
    width: 240px;
    float: left;
    text-align: center;
    border-right: 4px solid grey;
    border-bottom: 4px solid grey;
}
